body{
	/*background-color:#a7a493;*/
}
.header{

}
.box{
	width: 200px;
	height: 200px;
	background-color: #E3E3E3;
}

p{
	margin-top: 20px;
}
h1{
	font-family: sans-serif;
}
h3{
	margin-bottom: 15px;
}

.u_name:focus{

}
.u_message{
	/*resize: none;*/
}
/*.form-control{
	color: #212529;
	background-color: #e2fdfd;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(27, 30, 34/ 25%);
}*/


